doctype html
html
  head
    block head
      title= project.name + ' ' 
        | is awake.
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='styles/vendor.min.css')
    link(rel='stylesheet', href='styles/public.min.css')
    script(src='views/templates.js')
    block neck
  body
    div.navbar.navbar-default.navbar-fixed-top
      div.container
        div.navbar-header
          a#gotoHome.navbar-brand(href='#')
            img.navbar-logo(src='media/logo-symbol-64x64.png')
            span.navbar-brand-label=  project.name 
          button.navbar-toggle.collapsed(data-toggle='collapse', data-target='.my-navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div.navbar-collapse.my-navbar-collapse.collapse
          ul#public-menu.nav.navbar-nav
            li: a#gotoAbout(href='#') About
            li: a#gotoCellar(href='#') Wine Cellar
          div.dropdown.pull-right
            button#signinupDropdown.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown" aria-expanded="true")
              | Sign-In/Up 
              span.caret
            ul.dropdown-menu.dropdown-menu-right(role="menu" aria-labelledby="signinupDropdown")
              form
                div.form-group
                  label(for="inputEmail") Email address
                  input#inputEmail.form-control(type="email" placeholder="Enter email")
                div.form-group
                  label(for="inputPassword") Password
                  input#inputPassword(type="password" class="form-control" placeholder="Password")
                button.btn.btn-default(type="submit") Submit

    div.page
      div.container
        div#home
          block home
        div#about
          block about
        div#cellar
          block cellar          

    div.footer
      div.container
        span.copyright.pull-right
          | &copy;
          = ' ' + project.company + ' '
          | 2015.
        ul.links
          li: a(href='/') Home
          li: a(href='/contact/') Contact
        div.clearfix

    div.ajax-spinner
      img(src='media/ajax-pulse.gif')

    //if lte IE 9
      script(src='scripts/ie-sucks.min.js')
    script(src='scripts/vendor.min.js')
    script(src='scripts/public.min.js')
    script(src='scripts/index.min.js')  

    block feet
