block cellar
  div.row
    div.jumbotron
    h1 Wine Cellar
    p.lead
      | Sid &amp; Sven love wine, but your wine cellar is empty. Sign up/in to start building it now. Below is an example of some of Sid's favourite drops.
      div.clearfix
  div.row
    div.panel.col-md-4
      div.panel-header
        span.pixel-red 
        | Cabernet Sauvignon
      div.panel-body
        table
      div.panel-footer
    div.panel.col-md-4
      div.panel-header
        span.pixel-red 
        | Shiraz
      div.panel-body
        table
      div.panel-footer
    div.panel.col-md-4
      div.panel-header
        span.pixel-red 
        | Merlot
      div.panel-body
        table
      div.panel-footer  
  div.row
    div.panel.col-md-4
      div.panel-header
        span.pixel-red 
        | Chardonnay
      div.panel-body
        table
      div.panel-footer
    div.panel.col-md-4
      div.panel-header
        span.pixel-red 
        | Pinot Grigio
      div.panel-body
        table
      div.panel-footer
    div.panel.col-md-4
      div.panel-header
        span.pixel-red 
        | Sauvignon Blanc
      div.panel-body
        table
      div.panel-footer            