block cellar
  div.row
    div.jumbotron
    h1 Welcome Friend,
    p.lead
      | Sid loves wine, but is irritated that your wine cellar is empty. Sign up/in to start building it now. In the meantime below is a peek at some of Sid's favourite drops!
      div.clearfix
  div.row
    div.panel.panel-default.col-md-4
      div.panel-heading
        h3.panel-title
          span.pixel-red 
          | Cabernet Sauvignon
      div.panel-body
      table.table
      //div.panel-footer
    div.panel.col-md-4
      div.panel-heading
        h3.panel-title
          span.pixel-red 
          | Shiraz
      div.panel-body
      table.table
      //div.panel-footer
    div.panel.col-md-4
      div.panel-heading
        h3.panel-title
          span.pixel-red 
          | Merlot
      div.panel-body
      table.table  
      //div.panel-footer  
  div.row
    div.panel.col-md-4
      div.panel-heading
        h3.panel-title
          span.pixel-white 
          | Chardonnay
      div.panel-body
      table.table
      //div.panel-footer
    div.panel.col-md-4
      div.panel-heading
        h3.panel-title
          span.pixel-white 
          | Pinot Grigio
      div.panel-body
      table.table
      //div.panel-footer
    div.panel.col-md-4
      div.panel-heading
        h3.panel-title
          span.pixel-white
          | Sauvignon Blanc
      div.panel-body
      table.table
      //div.panel-footer            