block cellar
  div.row
    div.media
      div.media-left
        a(href="#")
          img.media-object(src="media/Robert3.png")
      div.media-body
        h4.media-heading Welcome, friend.
        p I love wine, but I'm irritated that your wine cellar is empty! Sign up/in to start building it now. In the meantime below is a peek at some of my favourite drops! 
        p My wine cellar is built on mysql and I interact with it via the great npm module Sequelize. I could of course use mongodb instead, however in this configuration you can gain an understanding of how to integrate mysql into your project rather than the usual choice of mongodb.
      div.clearfix
  div.row
    div.col-md-4
      div.panel.panel-default
        div.panel-heading
          h3.panel-title
            img.wine(src="media/red-wine.png") 
            |  Cabernet Sauvignon
        div.panel-body
        table.table
          thead
            th Estate
            th Vintage
            th Notes
            th Rating
          tbody
            tr
              td Wolf Blass
              td 2005 Cabernet Sauvignon
              td Blackberries and teardrops
              td 8.5
        //div.panel-footer
    div.col-md-4
      div.panel.panel-default
        div.panel-heading
          h3.panel-title
            img.wine(src="media/red-wine.png")  
            |  Shiraz
        div.panel-body
        table.table
          thead
            th Estate
            th Vintage
            th Notes
            th Rating
          tbody
            tr
              td Wolf Blass
              td 2005 Cabernet Sauvignon
              td Blackberries and teardrops
              td 8.5
        //div.panel-footer
    div.col-md-4
      div.panel.panel-default
        div.panel-heading
          h3.panel-title
            img.wine(src="media/red-wine.png")  
            |  Merlot
        div.panel-body
        table.table
          thead
            th Estate
            th Vintage
            th Notes
            th Rating
          tbody
            tr
              td Wolf Blass
              td 2005 Cabernet Sauvignon
              td Blackberries and teardrops
              td 8.5 
        //div.panel-footer  
  div.row
    div.col-md-4
      div.panel.panel-default
        div.panel-heading
          h3.panel-title
            img.wine(src="media/white-wine.png")  
            |  Chardonnay
        div.panel-body
        table.table
          thead
            th Estate
            th Vintage
            th Notes
            th Rating
          tbody
            tr
              td Wolf Blass
              td 2005 Cabernet Sauvignon
              td Blackberries and teardrops
              td 8.5
        //div.panel-footer
    div.col-md-4
      div.panel.panel-default
        div.panel-heading
          h3.panel-title
            img.wine(src="media/white-wine.png") 
            |  Pinot Grigio
        div.panel-body
        table.table
          thead
            th Estate
            th Vintage
            th Notes
            th Rating
          tbody
            tr
              td Wolf Blass
              td 2005 Cabernet Sauvignon
              td Blackberries and teardrops
              td 8.5
        //div.panel-footer
    div.col-md-4
      div.panel.panel-default
        div.panel-heading
          h3.panel-title
            img.wine(src="media/white-wine.png") 
            |  Sauvignon Blanc
        div.panel-body
        table.table
          thead
            th Estate
            th Vintage
            th Notes
            th Rating
          tbody
            tr
              td Wolf Blass
              td 2005 Cabernet Sauvignon
              td Blackberries and teardrops
              td 8.5
        //div.panel-footer            