block cellar
  div.row
    div.media
      div.media-left
        a(href="#")
          img.media-object(src="media/Robert2.png")
      div.media-body
        h4.media-heading Welcome, friend.
        p Sid loves wine, but is irritated that your wine cellar is empty. Sign up/in to start building it now. In the meantime below is a peek at some of Sid's favourite drops!
      div.clearfix
  div.row
    div.col-md-4
      div.panel.panel-default
        div.panel-heading
          h3.panel-title
            span.pixel-red 
            | Cabernet Sauvignon
        div.panel-body
        table.table
          thead
            th Estate
            th Vintage
            th Notes
            th Rating
          tbody
            tr
              td Wolf Blass
              td 2005 Cabernet Sauvignon
              td Blackberries and teardrops
              td 8.5
        //div.panel-footer
    div.col-md-4
      div.panel.panel-default
        div.panel-heading
          h3.panel-title
            span.pixel-red 
            | Shiraz
        div.panel-body
        table.table
          thead
            th Estate
            th Vintage
            th Notes
            th Rating
          tbody
            tr
              td Wolf Blass
              td 2005 Cabernet Sauvignon
              td Blackberries and teardrops
              td 8.5
        //div.panel-footer
    div.col-md-4
      div.panel.panel-default
        div.panel-heading
          h3.panel-title
            span.pixel-red 
            | Merlot
        div.panel-body
        table.table
          thead
            th Estate
            th Vintage
            th Notes
            th Rating
          tbody
            tr
              td Wolf Blass
              td 2005 Cabernet Sauvignon
              td Blackberries and teardrops
              td 8.5 
        //div.panel-footer  
  div.row
    div.col-md-4
      div.panel.panel-default
        div.panel-heading
          h3.panel-title
            span.pixel-white 
            | Chardonnay
        div.panel-body
        table.table
          thead
            th Estate
            th Vintage
            th Notes
            th Rating
          tbody
            tr
              td Wolf Blass
              td 2005 Cabernet Sauvignon
              td Blackberries and teardrops
              td 8.5
        //div.panel-footer
    div.col-md-4
      div.panel.panel-default
        div.panel-heading
          h3.panel-title
            span.pixel-white 
            | Pinot Grigio
        div.panel-body
        table.table
          thead
            th Estate
            th Vintage
            th Notes
            th Rating
          tbody
            tr
              td Wolf Blass
              td 2005 Cabernet Sauvignon
              td Blackberries and teardrops
              td 8.5
        //div.panel-footer
    div.col-md-4
      div.panel.panel-default
        div.panel-heading
          h3.panel-title
            span.pixel-white
            | Sauvignon Blanc
        div.panel-body
        table.table
          thead
            th Estate
            th Vintage
            th Notes
            th Rating
          tbody
            tr
              td Wolf Blass
              td 2005 Cabernet Sauvignon
              td Blackberries and teardrops
              td 8.5
        //div.panel-footer            