form.filters
  div.row
    div.col-sm-3
      label Search
      input.form-control(name='search', type='text')
    div.col-sm-3
      label Status
      select.form-control(name='status')
        option(value='') -- any --
        for status in data.statuses
          option(value='#{status._id}') #{status.name}
    div.col-sm-3
      label Sort By
      select.form-control(name='sort')
        option(value='_id') id &#9650;
        option(value='-_id') id &#9660;
        option(value='name') name &#9650;
        option(value='-name') name &#9660;
        option(value='company') company &#9650;
        option(value='-company') company &#9660;
    div.col-sm-3
      label Limit
      select.form-control(name='limit')
        option(value='10') 10 items
        option(value='20', selected='selected') 20 items
        option(value='50') 50 items
        option(value='100') 100 items