block home
  div.jumbotron
    h1 Success!!!
    p.lead
      | Your Node.js server and single-page app is running. May the force be with you.
      div
        div.chars
          img(src='media/Robert.png')
          img(src='media/Sven.png')  
        h2 Sid &amp; Sven
      div.clearfix
  div.row
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 About Us
          p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
          a.btn.btn-default.btn-block(href='/about/') Learn More
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Sign Up
          p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
          a.btn.btn-default.btn-block(href='/signup/') Learn More
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Contact Us
          p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
          a.btn.btn-default.btn-block(href='/contact/') Learn More